[package]
name = "common"
version = "0.1.0"
edition.workspace = true
authors.workspace = true
rust-version.workspace = true
publish.workspace = true

[dependencies]
serde = { workspace = true, features = ["derive"] }
